<% provide(:title, "Contact") %>
   <h1>Contact Andrew</h1>
   <p>
     You can find me on <a href="https://twitter.com/andrewjzeller">Twitter</a> and <a href="https://github.com/ajzeller">Github</a>.

     I can be reached by email at andrew.j.zeller.

   </p>
